[submodule "bundle/vim-whitespace"]
	path = bundle/vim-whitespace
	url = https://github.com/ntpeters/vim-better-whitespace.git
[submodule "bundle/vim-airline"]
	path = bundle/vim-airline
	url = https://github.com/vim-airline/vim-airline.git
[submodule "bundle/vim-delimitmate"]
	path = bundle/vim-delimitmate
	url = https://github.com/Raimondi/delimitMate.git
[submodule "bundle/vim-endwise"]
	path = bundle/vim-endwise
	url = https://github.com/tpope/vim-endwise.git
[submodule "bundle/vim-json"]
	path = bundle/vim-json
	url = https://github.com/elzr/vim-json.git
[submodule "bundle/vim-indentline"]
	path = bundle/vim-indentline
	url = https://github.com/Yggdroot/indentLine.git
[submodule "bundle/vim-syntastic"]
	path = bundle/vim-syntastic
	url = https://github.com/scrooloose/syntastic.git
[submodule "bundle/vim-gitgutter"]
	path = bundle/vim-gitgutter
	url = https://github.com/airblade/vim-gitgutter.git
[submodule "bundle/vim-go"]
	path = bundle/vim-go
	url = https://github.com/fatih/vim-go.git
[submodule "bundle/vim-tabular"]
	path = bundle/vim-tabular
	url = https://github.com/godlygeek/tabular.git
[submodule "bundle/vim-gruvbox"]
	path = bundle/vim-gruvbox
	url = https://github.com/morhetz/gruvbox.git
[submodule "bundle/vim-puppet"]
	path = bundle/vim-puppet
	url = https://github.com/rodjek/vim-puppet.git
