[submodule "bundle/puppet"]
	path = bundle/puppet
	url = https://github.com/natemccurdy/vim-puppet
[submodule "bundle/go"]
	path = bundle/go
	url = https://github.com/fatih/vim-go
[submodule "bundle/gruvbox"]
	path = bundle/gruvbox
	url = https://github.com/morhetz/gruvbox
