[submodule "bundle/puppet"]
	path = bundle/puppet
	url = https://github.com/natemccurdy/vim-puppet
[submodule "bundle/go"]
	path = bundle/go
	url = https://github.com/fatih/vim-go
[submodule "bundle/gruvbox"]
	path = bundle/gruvbox
	url = https://github.com/morhetz/gruvbox
[submodule "bundle/airline"]
	path = bundle/airline
	url = https://github.com/vim-airline/vim-airline
[submodule "bundle/airline-themes"]
	path = bundle/airline-themes
	url = https://github.com/vim-airline/vim-airline-themes
[submodule "bundle/indents"]
	path = bundle/indents
	url = https://github.com/Yggdroot/indentLine
[submodule "bundle/whitespace"]
	path = bundle/whitespace
	url = https://github.com/ntpeters/vim-better-whitespace
